.swiper-pagination {
  position: static;
  padding: 5px;
}
.react-tabs__tab{
  padding: 5px !important;
}
.swiper-pagination-bullet {
  width: 35px;
  height: 35px;
  color: white;
}

.custom-swiper-pagination span {
  display: flex;
 
  text-align: center;
  justify-content: center;
}
